body {
    margin: 0;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#logo {
    width: 200px;
    height: auto;

    position: fixed;
    top: 40px;
    
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.75));
    transition: transform 0.2s;
}

#logo:hover {
    transform: scale(1.1);
    
}


#main {
    max-width: 75vw;
    max-height: 75vh;
}

footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    display: inline-block;
    transition: color 0.2s, transform 0.2s;
    
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.75));
}

footer a:hover {
    color: red;
    transform: scale(1.1);
}
