body {
    margin: 0;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

img {
    max-width: 75vw;
    max-height: 75vh;
}

footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
