@font-face {
    font-family: "DigitGraphics";
    src: url("../fonts/DigitGraphics.woff2") format("woff2");
}

body {
    margin: 0;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#logo {
    width: 200px;
    height: auto;

    position: fixed;
    top: 40px;
    left: 50%;
    
    transform: translateX(-50%);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.75));

    opacity: 0;
    
    transition: transform 0.2s;
}

#logo:hover {
    transform: translateX(-50%) scale(1.1);
    opacity: 1;
}

#keypad {
  position: relative;
}

#main {
    display: block;
}

#code {
    font-family: "DigitGraphics", sans-serif;
    position: absolute;
    color: white;
    text-align: left;
    font-size: 20px;
    top: 72px;
    left: 67px;
    word-spacing: 5px;
}

#copyright {
    position: fixed;
    color: black;
    opacity: 0.25;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: auto;
    font-size: 12px;
    transition: color 0.2s;

    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.75));
}

#copyright:hover {
    color: white;
}

.keys {
  position: absolute;
  width: 70px;
  height: 70px;
  z-index: 1;
  transform: translateX(66px) translateY(73px);
  opacity: 0;
  cursor: pointer;
}

.key1 {
  top: 47px;
  left: -10px;
}

.key2 {
  top: 47px;
  left: 73px;
}

.key3 {
  top: 47px;
  left: 155px;
}

.key4 {
  top: 129px;
  left: -10px;
}

.key5 {
  top: 129px;
  left: 73px;
}

.key6 {
  top: 129px;
  left: 155px;
}

.key7 {
  top: 210px;
  left: -10px;
}

.key8 {
  top: 210px;
  left: 73px;
}

.key9 {
  top: 210px;
  left: 155px;
}

.key0 {
  top: 293px;
  left: 155px;
}

.backspace {
  top: 293px;
  left: -10px;
  width: 152px;
}
